<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dot.me.app"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <activity
            android:name="com.dot.me.activity.CreateMarkupActivity"
            android:screenOrientation="nosensor"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" >
                </action>
            </intent-filter>
        </activity>
        <!-- teste -->
        <activity
            android:name="com.dot.me.activity.AddSocialAccount"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
                <category android:name="android.intent.category.BROWSABLE" >
                </category>

                <data
                    android:host="back"
                    android:scheme="twitter-client" >
                </data>
            </intent-filter>
        </activity>
        <activity
            android:name="com.dot.me.activity.TimelineActivity"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" >
                </action>

                <data
                    android:host="facebook_group"
                    android:scheme="add_column" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="twitter_search"
                    android:scheme="add_column" />
                <data
                    android:host="reload"
                    android:scheme="timeline" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dot.me.activity.DashboardActivity"
            android:screenOrientation="nosensor"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" >
                </action>

                <category android:name="android.intent.category.LAUNCHER" >
                </category>
            </intent-filter>
        </activity>
        <activity
            android:name="com.dot.me.activity.SendTweetActivity"
            android:screenOrientation="nosensor"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" >
                </action>
            </intent-filter>
        </activity>
        <activity
            android:name="com.dot.me.activity.SearchActivity"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
            <intent-filter>
                <data
                    android:host="refresh_trends"
                    android:scheme="dotme" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dot.me.activity.SearchResultActivity"
            android:screenOrientation="nosensor"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
            <intent-filter>
                <data
                    android:host="do_search"
                    android:scheme="twitter_search" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dot.me.activity.MessageInfoActivity"
            android:screenOrientation="nosensor"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.dot.me.activity.TwitterUserProfileActivity"
            android:screenOrientation="nosensor"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
            <intent-filter>
                <data
                    android:host="find_user"
                    android:scheme="twitter_search_user" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dot.me.activity.BlackListActivity"
            android:screenOrientation="nosensor"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.dot.me.activity.FacebookMessageActivity"
            android:screenOrientation="nosensor"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.dot.me.activity.ManageFacebookGroupsActivity"
            android:screenOrientation="nosensor"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.dot.me.activity.FacebookCommentActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.dot.me.activity.ManageCollumnsActivity"
            android:screenOrientation="nosensor"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.dot.me.activity.TwitterLoginActivity"
            android:screenOrientation="nosensor"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
            <intent-filter>
                <data
                    android:host="web"
                    android:scheme="dot_link" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dot.me.activity.TrendsLocationsActivity"
            android:screenOrientation="nosensor"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.dot.me.activity.ManageLabelsActivity"
            android:screenOrientation="nosensor" >
        </activity>

        <service android:name="com.dot.me.service.MeGetterServices" >
        </service>

        <activity
            android:name="com.dot.me.activity.ImageZoomActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.google.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
    </application>

</manifest>